body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181E2E;
}

a {
  color: #00B7FF;
}

h1, p {
  color: white;
}

button a {
  text-decoration: none;
  color: white;
}

.table__wrapper > button,
form button {
  margin-top: 25px;
}
button {
  background-color: #00A96E;
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

.delete-btn {
  background-color: red;
}
.synth-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 15px;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.synth-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(229, 242, 245);
  min-width: 170px;
  border-radius: 6px;
  padding: 15px;
  flex: 1;
}

.cart-btn {
  background-color: rgb(22, 92, 197);
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

.table__wrapper {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: white;
  margin-top: 50px;
}

.table__wrapper table {
  background-color: #222838;
  width: 100%;
}

th, td {
  padding: 20px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
}

/* th {
  background-color: #f2f2f2;
} */

tr:nth-child(even) {
  background-color: #0E1424;
}

tr:not(#table__heading):hover {
  background-color: #00A96E;
  color: black;
}

.synth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 250px;
  padding: 20px 0;
  width: 50%;
  gap: 10px;
  background: #0E1424;
  border-radius: 10px;
  border: solid 2px #232836;
}

.synth-form__select-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.synth-form > div {
  position: relative;
  width: 50%;
}

.synth-form input {

  width: 100%;
}

.synth-form label {
  position: absolute;
  left: 10px;
  top: 20px;
  color: grey;
}

input,
textarea {
    padding: 6px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 4px;
    background: none;
    border: none;
    border-bottom: solid 2px #232836;
    color: white;
}

select {
  background: none;
  border: none;
  border: solid 2px #232836;
  border-radius: 4px;
  color: white;
  padding: 8px;
}

select option {
  background-color: #181E2E;
  padding: 5px;
}

input:focus,
select:focus {
  outline: solid 2px #00A96E;
}

label {
    transition: all 150ms ease-in-out;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
    transform: translateY(-13px);
    font-size: 0.7rem;

}