body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181E2E;
}

a {
  color: #00B7FF;
}

h1 {
  color: white;
}

.synth-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 15px;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.synth-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(229, 242, 245);
  min-width: 170px;
  border-radius: 6px;
  padding: 15px;
  flex: 1;
}

.cart-btn {
  background-color: rgb(22, 92, 197);
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #222838;
  color: white;
  margin-top: 50px;
}

th, td {
  padding: 20px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
}

/* th {
  background-color: #f2f2f2;
} */

tr:nth-child(even) {
  background-color: #0E1424;
}

tr:hover {
  background-color: #00A96E;
  color: black;
}